html {
	margin:0px;
	padding:0px;;
}
body {
	margin:0px
	padding:0px;;
	color:#111;
	font-size:11pt;
	background:#3F3531;
}

#main {
	width:570px;
	background:#fff;
	margin:0px auto;
	padding:30px 0px;
	border-right:1px solid #365D5D;
	border-left:1px solid #365D5D;
	border-bottom:1px solid #365D5D;
   	-webkit-box-shadow: 0px 8px 8px 4px #111;
	-moz-box-shadow:    0px 8px 8px 4px #111;
	box-shadow:         0px 8px 8px 4px #111;
}

header {
	text-align:center;
	margin:0px auto;
	width:576px;
	border-bottom:3px solid #130601;
   	-webkit-box-shadow: 0px 0px 8px 4px #111;
	-moz-box-shadow:    0px 0px 8px 4px #111;
	box-shadow:         0px 0px 8px 4px #111;
}
h1 {
	text-align:center;
	font-size:25pt;
	font-family:helvetica;
	margin:0px auto;
	width:100%;
	background:#1D1B1A;
	color:#fff;
}

h2 {
	font-family:helvetica;
	text-align:center;
	color:#222;
	margin:5px auto;
	width:100%;
	border-top:1px solid #3f3f3f;
}

.morse-pic {
	margin:10px auto;
	width:300px;
	height:300px;
	display:block;
}

#input {
	width:100px;
	height:25pt;
	font-size:17pt;
	border:1px solid #000;
	margin:10px auto;
	overflow:hidden;
}

#result {
	width:100%;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	margin:0px auto;
}

#code-table {
	margin:20px auto;
	border:1px solid #ccc;
	width:100%;
}

#code-table tr{
	margin:0px;
	border-top:1px solid #ccc;
}

#code-table td{
	margin:0px;
	line-height:160%;
	text-align:center;
}

#code-table .code {
	border-right:1px solid #ccc;
}
#code-table .letter {
	border-left:1px solid #ccc;
}

header {
	text-align:center;
}

footer {
	text-align:center;
}

section article {
	width:50%;
	margin:0px auto;
}
